<div class="col-12 mt-2 width-1220">
  <div class="row">
    <div class="col-4">
      <button class="btn btn-primary btn-sm" type="button" (click)="addEdit()">
        <fa-icon [icon]="faPlus"></fa-icon> {{ tableText.BTN_ADD }}
      </button>
    </div>
    <div class="col-4">
      <h4 class="text-center">{{ tableText.TITLE }}</h4>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row">
    <div class="col-12 width-1220">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="table-bordered">
            <th width="60px" rowspan="2">
              {{ headersTableBody.currentNumber }}
            </th>
            <th width="200px">{{ headersTableBody.name }}</th>
            <th width="100px">{{ headersTableBody.personalId }}</th>
            <th width="60px">{{ headersTableBody.age }}</th>
            <th rowspan="1" width="400px" height="60px" class="cars-header">
              <div class="first-headers-container">
                <span>{{ headersTableBody.cars }}</span>
                <!-- <span>
                  <th>
                    <input
                      name="cars"
                      class="form-control input-xs"
                      placeholder="Căutare masina..."
                      [(ngModel)]="filters.cars"
                      (keyup)="onSearch()"
                      autocomplete="off"
                    />
                  </th>
                </span> -->
              </div>
              <div width="100%" class="second-headers-container">
                <span *ngFor="let header of headersCarsOption"
                  >{{ header.text }}
                  <!-- <input type="text" /> -->
                </span>
              </div>
            </th>
            <th rowspan="1" width="70px">{{ headersTableBody.editDelete }}</th>
          </tr>
          <tr>
            <th *ngFor="let search of searchFilters">
              <input
                name="{{ search.name }}"
                placeholder="{{ search.placeholder }}"
                [(ngModel)]="filters[search.property]"
                class="form-control input-xs"
                (keyup)="onSearch()"
                autocomplete="off"
                style="margin: 5px; width: 90%"
              />
            </th>
            <th>
              <input
                *ngFor="let filter of carFilters"
                name="{{ filter.name }}"
                placeholder="{{ filter.placeholder }}"
                [(ngModel)]="filters.cars[filter.name]"
                style="width: 20%; margin: 10px 10px"
                (keyup)="onSearch()"
                autocomplete="off"
              />
            </th>
            <th>
              <button class="btn btn-warning" (click)="deleteFilters()">
                {{ tableText.BTN_REMOVE_FILTERS }}
              </button>
            </th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="col-12 position-relative width-1220">
      <div
        id="view"
        class="view-scroll-informations"
        style="max-height: 60vh"
        [scrollWindow]="false"
        (scroll)="showTopButton()"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="30"
        (scrolled)="onScrollDown()"
      >
        <button
          type="button"
          id="back-top"
          class="{{ this.showBackTop }}"
          (click)="onScrollTop()"
        >
          <fa-icon [icon]="faChevronUp"></fa-icon>
        </button>
        <table
          class="table table-hover table-striped table-bordered font-14 p-0"
        >
          <tbody>
            <tr
              *ngFor="let person of filteredPersons.slice(0, limit)"
              (dblclick)="addEdit(person.id)"
              class="cursor-pointer"
            >
              <td width="60px" class="text-center">{{ person.id }}</td>
              <td width="200px" class="text-center">
                {{ person.firstName }} {{ person.lastName }}
              </td>
              <td width="100px" class="text-center">{{ person.personalId }}</td>
              <td width="60px" class="text-center">{{ person.age }}</td>
              <td width="400px" class="text-center">
                <div *ngFor="let car of person.cars" class="car-container">
                  <span>
                    {{ car.brand }}
                    {{ car.model }}
                  </span>
                  <span>
                    {{ car.productionYear }}
                  </span>
                  <span>
                    {{ car.cc }}
                  </span>
                  <span>
                    {{ car.tax }}
                  </span>
                </div>
              </td>
              <td
                width="31px"
                (click)="addEdit(person.id)"
                class="text-center"
                matTooltip="Modificare"
                matTooltipPosition="left"
              >
                <fa-icon class="text-primary" [icon]="faEdit"></fa-icon>
              </td>
              <td
                width="31px"
                (click)="delete(person)"
                class="text-center"
                matTooltip="Ștergere"
                matTooltipPosition="left"
              >
                <fa-icon class="text-danger" [icon]="faTrashAlt"></fa-icon>
              </td>
            </tr>
            <tr
              colspan="15"
              *ngIf="!persons.length"
              class="text-center fw-bold"
            >
              <td>{{ tableText.NO_DATA }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
