<div class="col-12 mt-2 width-1220">
  <div class="row">
    <div class="col-4">
      <button class="btn btn-primary btn-sm" type="button" (click)="addEdit()">
        <fa-icon [icon]="faPlus"></fa-icon> {{ tableText.BTN_ADD }}
      </button>
    </div>
    <div class="col-4">
      <h4 class="text-center">{{ tableText.TITLE }}</h4>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row">
    <div class="col-12 width-1220">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="table-bordered">
            <th
              *ngFor="let header of headers"
              width="{{ header.width }}"
              [attr.rowspan]="header.rowspan"
            >
              {{ header.text }}
            </th>
          </tr>
          <tr>
            <th *ngFor="let filter of searchFilters">
              <input
                autocomplete="off"
                (keyup)="onSearch()"
                class="form-control input-xs"
                name="{{ filter.name }}"
                placeholder="{{ filter.placeholder }}"
                [(ngModel)]="filters[filter.name]"
                style="margin: 5px; width: 95%"
              />
            </th>
            <th>
              <button class="btn btn-warning" (click)="deleteFilters()">
                {{ tableText.BTN_REMOVE_FILTERS }}
              </button>
            </th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="col-12 position-relative width-1220">
      <div
        id="view"
        class="view-scroll-informations"
        style="max-height: 60vh"
        [scrollWindow]="false"
        (scroll)="showTopButton()"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="30"
        (scrolled)="onScrollDown()"
      >
        <button
          type="button"
          id="back-top"
          class="{{ this.showBackTop }}"
          (click)="onScrollTop()"
        >
          <fa-icon [icon]="faChevronUp"></fa-icon>
        </button>
        <table
          class="table table-hover table-striped table-bordered font-14 p-0"
        >
          <tbody>
            <tr
              *ngFor="let car of filteredCars.slice(0, limit)"
              (dblclick)="addEdit(car.id)"
              class="cursor-pointer"
            >
              <td
                *ngFor="let data of tableData"
                width="{{ data.width }}"
                class="text-center"
              >
                {{ car[data.property] }}
              </td>
              <td
                width="25px"
                (click)="addEdit(car.id)"
                class="text-center"
                matTooltip="Modificare"
                matTooltipPosition="left"
              >
                <fa-icon class="text-primary" [icon]="faEdit"></fa-icon>
              </td>
              <td
                width="25px"
                (click)="delete(car)"
                class="text-center"
                matTooltip="Ștergere"
                matTooltipPosition="left"
              >
                <fa-icon class="text-danger" [icon]="faTrashAlt"></fa-icon>
              </td>
            </tr>
            <tr colspan="15" *ngIf="!cars.length" class="text-center fw-bold">
              <td>{{ tableText.NO_DATA }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
