<div class="col-12 mt-2 width-1220">
  <div class="row">
    <div class="col-4">
      <button class="btn btn-primary btn-sm" type="button" (click)="addEdit()">
        <fa-icon [icon]="faPlus"></fa-icon> Adaugă
      </button>
    </div>
    <div class="col-4">
      <h4 class="text-center">Mașini</h4>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row">
    <div class="col-12 width-1220">
      <table class="table table-striped table-hover">
        <thead>
          <tr class="table-bordered">
            <th width="50px" rowspan="2">Nr. Crt.</th>
            <th width="100px">Denumire marca</th>
            <th width="100px">Denumire model</th>
            <th width="60px">Anul fabricatiei</th>
            <th width="60px">Capacitatea cilindrica</th>
            <th width="60px">Taxa de impozit (lei)</th>
            <th rowspan="2" width="50px">Modifica / Sterge</th>
          </tr>
          <tr>
            <th>
              <input
                #searchBrand
                name="brand"
                class="form-control input-xs"
                placeholder="Căutare dupa marca..."
                [(ngModel)]="searchValues.brand"
                (keyup)="onSearch(searchBrand.value, searchBrand.name)"
              />
            </th>
            <th>
              <input
                #searchModel
                name="model"
                placeholder="Căutare dupa model..."
                class="form-control input-xs"
                [(ngModel)]="searchValues.model"
                (keyup)="onSearch(searchModel.value, searchModel.name)"
              />
            </th>
            <th>
              <input
                #searchProductionYear
                name="productionYear"
                placeholder="Căutare dupa anul de productie..."
                class="form-control input-xs"
                [(ngModel)]="searchValues.productionYear"
                (keyup)="
                  onSearch(
                    searchProductionYear.value,
                    searchProductionYear.name
                  )
                "
              />
            </th>
            <th>
              <input
                #searchCc
                name="cc"
                placeholder="Căutare dupa capacitatea cilindrica..."
                class="form-control input-xs"
                [(ngModel)]="searchValues.cc"
                (keyup)="onSearch(searchCc.value, searchCc.name)"
              />
            </th>
            <th>
              <input
                #searchTax
                name="tax"
                placeholder="Căutare dupa taxa..."
                class="form-control input-xs"
                [(ngModel)]="searchValues.tax"
                (keyup)="onSearch(searchTax.value, searchTax.name)"
              />
            </th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="col-12 position-relative width-1220">
      <div
        id="view"
        class="view-scroll-informations"
        style="max-height: 60vh"
        [scrollWindow]="false"
        (scroll)="showTopButton()"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="30"
        (scrolled)="onScrollDown()"
      >
        <button
          type="button"
          id="back-top"
          class="{{ this.showBackTop }}"
          (click)="onScrollTop()"
        >
          <fa-icon [icon]="faChevronUp"></fa-icon>
        </button>
        <table
          class="table table-hover table-striped table-bordered font-14 p-0"
        >
          <tbody>
            <tr
              *ngFor="let car of filteredCars.slice(0, limit)"
              (dblclick)="addEdit(car.id)"
              class="cursor-pointer"
            >
              <td width="49px" class="text-center">{{ car.id }}</td>
              <td width="99px" class="text-center">
                {{ car.brand }}
              </td>
              <td width="98px" class="text-center">
                {{ car.model }}
              </td>
              <td width="59px" class="text-center">
                {{ car.productionYear }}
              </td>
              <td width="65px" class="text-center">{{ car.cc }}</td>
              <td width="59px" class="text-center">{{ car.tax }}</td>

              <td
                width="23px"
                (click)="addEdit(car.id)"
                class="text-center"
                matTooltip="Modificare"
                matTooltipPosition="left"
              >
                <fa-icon class="text-primary" [icon]="faEdit"></fa-icon>
              </td>
              <td
                width="23px"
                (click)="delete(car)"
                class="text-center"
                matTooltip="Ștergere"
                matTooltipPosition="left"
              >
                <fa-icon class="text-danger" [icon]="faTrashAlt"></fa-icon>
              </td>
            </tr>
            <tr colspan="15" *ngIf="!cars.length" class="text-center fw-bold">
              <td>Date inexistente!</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
